# Dependencies
node_modules/
.pnpm-debug.log*

# Build output
dist/
dist-ssr/
*.local

# IDE / System files
.vscode/
.idea/
.DS_Store
thumbs.db

# Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
